body{
    margin: 0px;
    padding: 0px;
    background-color: blue;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo-pepsi{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.box-container{
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    
}
.box-container a {
    text-decoration: none;
    margin-left: 30px;
    color: aliceblue;
}
.box-pepsi{
    display: flex;
margin-top: 200px;
}
.text{
    width: 60%;
    color: aliceblue;
    margin-left: 20px;

    
}
.image{
    width: 40%;
    margin-left: 70px;
    display: flex;
}
.text h1{
    font-size: 50px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
font-size: 20px;
margin-top: 50px;
margin-left: 50px;
}
.logo{
margin-top: 500px;
margin-left: 20px;


}
.logo i {
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 30px;
}
.image-three{
    width: 200px;
    display: block;
    
    
}
